body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b15d5d;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    padding: 20px;
  }
  
  h1 {
    color: #000000;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  #searchInput {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000000;
  }
  
  #buttonsContainer {
    display: flex;
    gap: 5px; 
    margin-top: 10px;
  }

  .out {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 0;
    margin: 0;
}

figure {
    margin: 5px; 
    padding: 0;
    width: 15%; 
}

img {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
}